/*
************************ Rectángulo gris arriba ******************************
*/
.rectangle-24 {
	height: 25px;
    background-color: #808080;  
    text-align:center;
}
.envio-gratis-a-parti {
	color: #FFFFFF;
	font-family: "Brandon Grotesque";
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
}
.shape {	
    height: 16px;	
    width: 18px;
}
.fill-1 {	
    height: 18.88px;	
    width: 20.27px;
}
.borde-quitar {
    border: 0px;
}
.necesitas-ayuda-91 {	
    height: 19px;	
    width: 287px;	
    color: #FFFFFF;	
    font-family: "Brandon Grotesque";	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 20px;

}
.dias-plazo-devo {	
    height: 20px;	
    width: 260px;	
    color: #FFFFFF;	
    font-family: "Brandon Grotesque";	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 20px;	
    text-align: right;
}
#navbarDropdown {
    color: black;
}

/*
******************** Búsqueda  ****************************
*/

.bg-busca {	
    height: 35px;	
    width: 312px;	
    border: 1px solid #EBE7E4;	
    background-color: #FBFAF9;
}
.bg-button {	
    height: 35px;	
    width: 35px;
    background-color: #5CB8A3;
}
.search-material {	
    height: 18px;
    width: 18px;
}
.cuenta-invi-dos {
    display: none;
}
.navVisible {
    display:none;
}
.form-search {
    height: 35px;
}
.centrado {
    margin-right: -20px;
}
.centrado-center {
    margin-right: 20px;
}
.rectangle-13 {	
    height: 50px;	
    width: 115px;	
    border: 1px solid #F2F2F2;	
    border-radius: 6px;
    margin-left: 30px;
}
.bg-busca::placeholder {
    font-weight: bold;
    font-size: 0.9em;
}

/*
**************** rectangulo pink ************************
*/

.rectangle-18 {	
    height: 25px;
    width: 100%;	
    background-color: #EE988B;
}
.promociones-de-invi {	
    height: 16px;	
    width: 100%;	
    color: #FFFFFF;	
    font-family: "Brandon Grotesque";	
    font-size: 12px;	
    line-height: 14px;	
    text-align: center;
}
.promocion-negrita {
    font-weight: bold;
}
.logo-izquierda {
    padding-left: 50px;
}

/*
****************  lista ************************
*/

.fondoGris {
    background-color: #FBFAF9;
}
.color-ofertas {
    color: #EE7D6D;
    font-weight: bold;
}

/*
***************************  banner 1 **********************
*/

.imagen-ajustar {
    width:100%;
}
.imagen-fondo-nav {
    background-image: url("../images/img/imgpsh_fullsize_anim.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100% ;
    text-align: center;
    background-position: center;
}
.rebajas-70 {	
    padding-top: 20px;
    height: 52px;	
    width: 100%;	
    color: #4A4A4A;	
    font-family: "Brandon Grotesque";	
    font-size: 36px;	
    font-weight: bold;	
    line-height: 52px;	
    text-align: center;
}
.hasta-50-en-product {	
    height: 20px;	
    width: 100%;	
    color: #4A4A4A;	
    font-family: "Brandon Grotesque";	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 20px;	
    text-align: center;
}
.rectangle-7 {	
    height: 31.81px;	
    width: 129.9px;	
    border-radius: 6px;	
    background-color: #5CB8A3;	
    box-shadow: 0 2px 0 0 #529888;
    text-align: center;
    border: 0px solid white;
}
.compra-ya {	
    height: 20px;	
    width: 87spx;	
    color: #FFFFFF;	
    font-family: "Brandon Grotesque";	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 20px;	
    text-align: center;
    
}
.fill-7 {	
    height: 30.53px;	
    width: 134.3px;
}

/*
******************** banner 2 ******************************
*/
.mask {	
    height: 100px;	
    width: 320px;	
    border-radius: 6px;	
    background-color: #F5F5F5;
}
.banner2-centrado {
    width: 100%;
    background-color:white;
    text-align: center;
    margin-top: 2%;
}

/*************   MEDIA *************************/

@media (max-width: 721px) {
    /* div gris */
    .necesitas-ayuda-91, .dias-plazo-devo {
        display: none;
    }
}
/* dropdown */
@media (max-width: 990px) {
    .cuenta-invi {
        display:none;
    }
    .cuenta-invi-dos {
        display:inline-block;
    }
}
@media (min-width:991px) {
    .navInvi {
        display:none;
    }
    .navVisible {
        display: inline-block;
        margin-top: 10px;
    }
    /* banners */
    .mask {
        width: 700px;   
    }
    .banner-dos {
        width: 100%;   
    }
    .rebajas-70 {
        font-size: 3.5em;
    }
    .hasta-50-en-product {
        font-size: 1.2em;
    }
    .promociones-de-invi {
        font-size: 14px;
    }
    .bg-button {
       padding-right: 5px;
    }
    .rectangle {
        width: 43px;	
        border-radius: 6px;	
        background-color: #5CB8A3;
        border: 0px solid white;
    }
}